<app-header [title]="title" [showLanguage]="false" [showBack]="true"></app-header>

<ion-content>

  <ion-searchbar #searchInputSearchB (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-card *ngFor="let employee of this.userProvider.employeeList" (click)="editEmployee(employee)">
    <ion-card-content>
      <h1><b>{{ employee.name }} {{ employee.lastname }}</b></h1>
      <div class="card-subtitle">{{environment.phone}}: <b>{{ employee.phone }}</b></div>
      <div class="card-subtitle">{{environment.email}}: <b>{{ employee.email }}</b></div>
      <div class="card-subtitle">{{environment.genre}}: <b>{{ employee.genre }}</b></div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="this.userProvider?.employeeList?.length == 0" class="background-red">
    <ion-card-content>
      <div class="center card-title">
        <h1 class="color-white">{{environment.noresult}}</h1>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addEmployee()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>